.low-usage {
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.mid-usage {
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.high-usage {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

html { font-size: 30px}

body {

background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align:center;
  margin:  150px;
  
}

header {
  font-size: 6em;
}

button {
  font-size: 1em;
  margin: 10px;
  font-family: Geneva;

}

section {
  border-radius: 10%;
  border-left: 10px;
  max-width: 800px;
}

#up {
  font-size: 1.5em;
  border-radius: 20%;
  padding:0px 8px;
}

#down {
  font-size: 1.5em;
  border-radius: 20%;
  padding:0px 8px;
}

#powerSaverMode {
  border-radius: 50%;
  padding:10px 27px; 
}

#temperature {
  border-radius: 30%;
}