.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

html { font-size: 30px}

body {
  text-align:center;
  margin:  150px;
  background: lightgray
  
}

header {
  font-size: 6em;
}

button {
  font-size: 1em;
  margin: 10px;
  font-family: Geneva;

}

section {
  background: grey;
  border-radius: 10%;
  border-left: 900px;
  max-width: 500px;
}

#up {
  font-size: 1.5em;
  border-radius: 20%;
  padding:0px 8px;
}

#down {
  font-size: 1.5em;
  border-radius: 20%;
  padding:0px 8px;
}

#powerSaverMode {
border-radius: 50%;
padding:10px 27px; }
